<nav class="header-bg my-4 pt-4 pb-2 px-3 text-break">
  <h2 class="text-center mb-4">Seguidores</h2>
  <%- include('./comp-side-bar/seguidor') %>
  <%- include('./comp-side-bar/seguidor') %>
  <%- include('./comp-side-bar/seguidor') %>
  <%- include('./comp-side-bar/seguidor') %>
  <%- include('./comp-side-bar/seguidor') %>
  <h2 class="text-center my-4">Seguindo</h2>
  <%- include('./comp-side-bar/usuario-seguido') %>
  <%- include('./comp-side-bar/usuario-seguido') %>
  <%- include('./comp-side-bar/usuario-seguido') %>
  <%- include('./comp-side-bar/usuario-seguido') %>
  <%- include('./comp-side-bar/usuario-seguido') %>
</nav>
