<section id="principal" class="form-group shadow dynamic-element list-group list-group-item flex-col align-items-start rounded-lg my-4 ">
  <div class="row">
    <div class="col-4 mb-2 mt-n3">
      <h3><span class="badge shadow badge-primary float-left">Dia <%=qnt %> </span></h3>
    </div>
  </div>
  <div id="dia">
    <div class="form-group row">
      <article class=" col-sm-4 col-lg-6 col-md-6 float-left">
        <label><strong>Relatos do dia:</strong></label>
        <div>
          <p class="text"><%=dia.resumo  %> </p>
        </div>
        <div class="row">
          <div class="col-sm-4 col-lg-6 col-md-8 float-left">
            <label class="col-form-label"><strong>Gastos do dia:</strong></label>
            <p><%=dia.gasto%> <abbr title="<%=dia.moeda.nome%>"><%=dia.moeda.simbolo%></abbr></p>
          </div>
        </div>
      </article>
      <article class="col-sm-4 col-lg-6 col-md-5 float-left">
        <label><strong>Locais por onde passei:</strong></label>
        <ul class="list-group">
          <%dia.local.forEach(local => {%>
            <li class="list-group-item"><%=local.nome %> </li>
         <% });  %> 
        </ul>
      </article>
    </div>
  </div>
</section>
