<div class="row mt-1 mb-3">
  
 <a href="/index/perfil/<%= roteiro.usuario.id %>"> 
  <img class="bg-white p-1 rounded-circle  seguidores-icone " src="<%= roteiro.usuario.imagem_url %>" alt="Foto de <%= roteiro.usuario.nome %>">
</a><strong><p><%=roteiro.usuario.apelido%></p></strong>

</div>
   <h1 class="text-uppercase"><%=roteiro.titulo %></h1>
    
    <div class="fb-share-button button mb-3" 
    data-href="https://tr1p-diary.herokuapp.com/index/roteiro/<%=roteiro.id%>" 
    data-layout="button"
   >
 </div>
 <a href="https://twitter.com/share?url=https://tr1p-diary.herokuapp.com/index/roteiro/<%=roteiro.id%>&text=Olha que viagem legal <%=roteiro.titulo%>" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" title="Share on Twitter"><img src="/icones/twitter.png"></a>

    <p><%=roteiro.likes  %>  Like(s)</p>


  <div>
    <strong>Estilo do Roteiro</strong>
    <p><i class="icon-user icon-white"></i><%=roteiro.estilo.nome%> </p><i class="icon-search"></i>
  </div>
  <div>
    <strong>Data de início da viagem</strong>
    <p><%=moment(roteiro.data_inicio).format('DD/MM/YYYY')%></p>
  </div>
  <div>
    <strong>Total de Dias</strong>
    <p><%=roteiro.qntd_dias%></p>
  </div>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>