<row>
<h1 ><%=roteiro.titulo.toUpperCase()%></h1>
<p><%=roteiro.likes  %>  Like(s)</p>
</row>
<div class="row">
  <div class="col-sm-12 col-lg-4 ">
    <label><strong>Estilo do Roteiro</strong></label>
    <p><i class="icon-user icon-white"></i><%=roteiro.estilo.nome%> </p><i class="icon-search"></i>
  </div>
  <div class="col-sm-12 col-lg-4">
    <label><strong>Data de início da viagem</strong></label>
    <p><%=moment(roteiro.data_inicio).format('DD/MM/YYYY')%></p>
  </div>
  <div class="col-sm-12 col-lg-4">
    <label><strong>Total de Dias</strong></label>
    <p><%=roteiro.qntd_dias%></p>
  </div>
</div>