<!DOCTYPE html>
<html lang="pt-br">

	<head>
    <%- include('./partials/head') %>
	</head>

	<body>
    <%- include('./partials/header') %>
		<main>
      <div class="container my-5">
        <% if (roteiros.length > 0) { %>
          <% roteiros.forEach(roteiro => { %>
            <%- include('./partials/pag-home/card-roteiro', { roteiro, moment }) %> 
          <% }) %>
        <% } else { %>
          <h2 class="text-center text-uppercase">Nenhum roteiro cadastrado no sistema</h2>
        <% } %> 
      </div>
    </main>
    
    <%- include('./partials/footer') %>
    <%- include('./partials/scripts-body') %>
    <script src="/javascripts/curtir-roteiro.js"></script>
  </body>
  
</html>
