<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/stylesheets/perfil.css">
  </head>

  <body>
    <%- include('./partials/header') %>
    <main>
      
      <div class="row m-0">
        <div class="d-none d-xl-block col-xl-2">
          <%- include('./partials/side-bar') %>
        </div>

        <div class="col">
          <div class="container my-5">
            <% if (usuarioPagina.id === usuario.id) { %>
              <%- include('./partials/pag-perfil/btn-editar') %>
            <% } %>
            <%- include('./partials/pag-perfil/secao-info') %>
            <%- include('./partials/pag-perfil/resumo') %>
            
            <section class="my-5">
            <h2 class="text-center my-4"><%= usuarioPagina.id === usuario.id ? "Meus Roteiros" : "Roteiros" %></h2>
            <% if (usuarioRoteiros.length > 0) { %>
              <% usuarioRoteiros.forEach(roteiro => { %>
                <%- include('./partials/pag-perfil/roteiro-visualizacao', { roteiro }) %>
              <% }) %>
            <% } else { %>
              <h4 class="text-center">Nenhum roteiro cadastrado</h3>
            <% } %>
            </section>
            
            <section class="my-5">
              <h2 class="text-center my-4">Roteiros curtidos</h2>
              <% if (usuarioCurtidos.length > 0) { %>
                <% usuarioCurtidos.forEach(curtida => { %>
                  <% const { roteiro } = curtida %> 
                  <%- include('./partials/pag-perfil/roteiro-visualizacao', { roteiro }) %>
                <% }) %>
              <% } else { %>
                <h4 class="text-center">Nenhum roteiro curtido</h3>
              <% } %> 
            </section>
          </div>
        </div>
      </div>
    </main>
    <%- include('./partials/footer') %> 
    <%- include('./partials/scripts-body') %> 
  </body>

</html>
