<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/stylesheets/perfil.css">
  </head>

  <body>
    <%- include('./partials/header') %>
    <main >
      <div class="container my-5">
        <form action="/index/perfil/<%= usuarioPagina.id %>/editar?_method=PUT" method="POST" enctype="multipart/form-data">
          <% if (typeof(erros) !== 'undefined') { %>
            <ul>
              <% erros.forEach(erro => { %>
                <li><%= erro.msg %></li>
              <% }); %>
            </ul>
          <% } %>
          <%- include('./partials/pag-perfil/secao-info') %>
          <hr>
          <div class="form-group my-3 d-flex justify-content-center">
            <div>
              <label for="novo-avatar">Adicione uma foto</label>
              <input class="form-control-file" type="file" name="novoAvatar" id="novo-avatar" aria-label="Selecionar foto de envio">
            </div>
          </div>
          <%- include('./partials/pag-perfil/resumo-edicao') %>
          <div class="text-center">
            <button class="btn rounded-pill btn-padrao mt-4" type="submit"><strong>Salvar</strong></button>
          </div>
        </form>
        <hr>
        <section class="my-5">
          <h2 class="text-left my-4">Meus roteiros</h2>
          <% if (usuarioRoteiros.length > 0) { %>
            <% usuarioRoteiros.forEach(roteiro => { %>
              <%- include('./partials/pag-perfil/roteiro-edicao', { roteiro }) %>
            <% }) %>
          <% } else { %>
            <h4 class="text-left">Nenhum roteiro cadastrado</h3>
          <% } %>
        </section>
      </div>
    </main>
    <%- include('./partials/footer') %> 
    <%- include('./partials/scripts-body') %> 
  </body>

</html>
