<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <%- include('./partials/head') %>
  </head>

  <body>
    <%- include('./partials/header') %>
    <main>
      <div class="row m-0">
        <div class="d-none d-xl-block col-xl-2">
          <%- include('./partials/side-bar') %>
        </div>
        <div class="col">
          <div class="container my-5">
            <h1 class="text-center text-uppercase">Busca filtrada</h1>
            <%- include('./partials/pag-pesquisa/form-busca') %>
            <section class="mb-5">
              <h2 class="text-center">Roteiros</h2>
              <% for (let i = 0; i < 5; ++i) { %>
                <%- include('./partials/pag-perfil/roteiro-visualizacao') %>
              <% } %>
            <section>
              <h2 class="text-center">Usuários</h2>
              <div class="row justify-content-center">
                <% for (let i = 0; i < 7; ++i) { %>
                  <div class="col-xs-12 col-sm-6 col-md-4 px-sm-1 px-md-3">
                    <%- include('./partials/comp-side-bar/seguidor') %>
                  </div>
                <% } %> 
              </div>
            </section>
          </div>
        </div>
      </div>
    </main>
    <%- include('./partials/footer') %>
    <%- include('./partials/scripts-body') %>
  </body>

</html>
