<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro.min.css">
    <%- include('./partials/head') %>
  </head>

  <body>
    <%- include('./partials/header') %>
  
    <main>
      <div class="container my-5">
        <h1>Crie Seu Roteiro</h1>
        <%- include('./partials/pag-criar-roteiro/form') %>
        
        <div id="principal" class="shadow mt-2 form-group dynamic-element list-group list-group-item  flex-col align-items-start rounded-lg ">
          <div class="row">
            <div class="col-1 ">
            <div class="col-1 mb-2 mt-n2 "><h3><span class=" shadow badge badge-primary float-left">Dia 1</span></h3></div>
            </div>
          </div>
  
          <div class="form-group row">
            <div class=" col-sm-4 col-lg-6 col-md-5 float-left">
              <label><strong>Relatos do dia:</strong></label>
              <textarea type="text" class="form-control" row="5" placeholder="Descreva como foram os passeios realizados neste dia"></textarea>
              <sub class="form-text text-muted"></s>
            </div>
            <div class="col-sm-4 col-lg-6 col-md-6 float-left">
              <label><strong>Locais por onde passei:</strong></label>
              <input type="text"
              data-role="taginput"
              data-cls-tag-title="text-bold fg-white"
              data-cls-tag="bg-olive"
              data-cls-tag-remover="bg-darkOlive fg-white"
              data-tag-trigger="Comma"
              data-random-color="true"
              placeholder="Locais que visitou neste dia">
                        <sub class="form-text text-muted">Locais que visitou neste dia</s>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-4 col-lg-6 col-md-6 float-left">
              <label  class="col-form-label"><strong>Média de Gastos:</strong></label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <select class="form-control custom select">
                    <option>USD</option>
                    <option>BRL</option>
                    <option>EUR</option>
                  </select>
                </div>
                <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
                <div class="input-group-append">
                  <span class="input-group-text">.00</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="roteiro-campos">
          <!-- Os elementos dinâmicos serão clonados aqui!-->
          <!-- Você pode chamar a função roteiro roteiroFields se quiser mostrar como um primeiro elemento -->
        </div>
  
        <div class="row d-flex justify-content-end mb-5">
          <div class="input-group-btn col-sm-4 col-lg-6 d-flex justify-content-end">
            <a href="single-roteiro.html" class="btn btn-padrao d-inline-flex p-2" type="button" > Finalizar Roteiro </a>
          </div>
        </div>
      </div>
    </main>
    <%- include('./partials/footer') %> 
    <%- include('./partials/scripts-body') %> 
    <script src="/javascripts/dynamic-form.js"></script>
    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
  </body>

</html>
