<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="estilos/single-roteiro.css">
  </head>

  <body>
    <%- include('./partials/header') %>
    <div class="container my-5">
      <%- include('./partials/pag-ver-roteiro/header') %>
      
      <% roteiro.dia.forEach((dia,qnt) => { %>
        <%- include('./partials/pag-ver-roteiro/card-dia',{dia:dia,qnt:++qnt}) %>
      <% }) %>

      
        <%- include('./partials/pag-ver-roteiro/imagens') %>

      <section class="panel panel-default widget mb-5">
        <div class="panel-heading mb-2">
          <span class="glyphicon glyphicon-comment"></span>
      
          <form method="POST" action="/index/comentar-roteiro/<%=roteiro.id%>"  class="mb-4">
            <div class="d-inline-block">
              <h3 class="panel-title">Comente Aqui</h3>
            </div>
            <div class="d-inline-block">
              <button type="submit" class="btn-padrao btn  mb-2 ml-3 ">Comentar</button>

            </div>

            
              <textarea name="comentario" required class="form-control col-4" id="exampleFormControlTextarea1" rows="3"></textarea>

          </form>
          <h3 class="panel-title">Comentários Recentes</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <% if(typeof(roteiro.comentario) != 'undefined'){ %> 
            <% roteiro.comentario.forEach((coment) => { %>
              
              <%- include('./partials/pag-ver-roteiro/comentario',{comentario:coment}) %>
            <% }) %>
            <% } %> 
          </ul>
        </div>
      </section>
    </div>
    <%- include('./partials/footer') %>
    <%- include('./partials/scripts-body') %>
  </body>

</html>
