<article class="card-header">
  <div class="row mt-2 align-items-center mb-2">
    <div class="col-sm-12 col-md-4">
      <div class="d-flex align-items-center">
        <div class="mr-2">
          <a href="/index/perfil/<%= roteiro.usuario.id %>">
            <img class="rounded-circle header-icone" src="<%= roteiro.usuario.imagem_url %>" alt="Perfil de <%= roteiro.usuario.nome %>">
          </a>
        </div>
        <div class="ml-2">
          <div class="h5 m-0"><%= roteiro.usuario.apelido %></div>
        </div>
      </div>
    </div>
  
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <p class="my-1 my-lg-auto btn btn-outline  card-resumo-roteiro"><%= roteiro.qntd_dias %> Dias</p>
    </div>
    <div class="col-sm-12 col-md-4">
      <p class="my-1 my-lg-auto text-center">Estilo da viagem: <%= roteiro.estilo.nome %></p>
    </div>
    <div class="col-sm-12 col-md-4">
      <p class="my-1 my-lg-auto text-center">Data de início: <%= moment(roteiro.data_inicio).format('L') %> </p>
    </div>
  </div>
  
</article>
